In [1]:
a = 10
b = 5
print(a == b)

False

In [3]:
# 
a = 10
b = 50
if a > b:
    print(a)

In [6]:
'''
if <expr>/bool:
    <statement>
<statement>
'''

a = 10
b = 50
if a > b:
    print("masuk sini")
    print(a)
    
print("aaaa")

aaaa

In [8]:
s = "foos"
a = 10

if s in "this food is good":
    print("Cabang 1")
    
    if a < 5:
        print("Cabang 2")
        print("Nilai a lebih kecil dari lima")
        
    print("Kembali ke Cabang 1")
    
    if a > 7:
        print("Cabang 3")
        print("NIlai a lebih besar dari tujuh")
    
    print("Kembali lagi ke cabang 1")

print("Ini di luar percabangan")

Ini di luar percabangan

In [11]:
a = 100
b = 50
if a > b:
    print("a lebih besar dari b")
    print(a)    
else:
    print("a lebih kecil dari b")
    print(b)

a lebih besar dari b
100

In [13]:
s = "foo"
a = 10

if s in "this food is good":
    print("Cabang 1")
    
    if a < 5:
        print("Cabang 2")
        print("Nilai a lebih kecil dari lima")
    else:
        print("else cabang 2")
        print("Nilai a lebih besar dari lima")
        
    
    print("Kembali ke Cabang 1")
    
    if a > 7:
        print("Cabang 3")
        print("NIlai a lebih besar dari tujuh")
    else:
        print("else cabang 3")
        print("Nilai a lebih kecil dari tujuh")
    
    print("Kembali lagi ke cabang 1")

print("Ini di luar percabangan")

Cabang 1
else cabang 2
Nilai a lebih besar dari lima
Kembali ke Cabang 1
Cabang 3
NIlai a lebih besar dari tujuh
Kembali lagi ke cabang 1
Ini di luar percabangan

In [17]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 6000

if uang > hargaBuku:
    print("beli buku")
elif uang > hargaMajalah:
    print("beli majalah")
else:
    print("uang tidak cukup")

beli majalah

In [24]:
a = 500
b = 500
if a > b: print(a); print("a lebih besar dari b")
elif a == b: print(a); print("a sama dengan b")
else: print(b); print("a lebih kecil dari b")

500
a sama dengan b

In [29]:
a = 500
b = 800

maximum = a if a > b else b
print(maximum)

800

In [30]:
raining = False

print("Ke pantai" if not raining else "ke warnet")

Ke pantai

In [31]:
raining = True

print("Ke pantai" if not raining else "ke warnet")

ke warnet

In [37]:
a = 100
b = 10
if a > b:
    pass    
print(a)

10
dibawah pass
100

In [38]:
'''
while <expr>/bool:
    <statement>
    <statement>
    <statement>
    <statement>
<statement>

'''

'\nwhile <expr>/bool:\n    <statement>\n    <statement>\n    <statement>\n    <statement>\n<statement>\n\n'

In [43]:
# 1 + 2 + 3 + ... + 100

n = 1
un = 10
s = 0

while n <= un:
    print(n)
    s += n # s = s+n
    n+=1

# print(s)

1
2
3
4
5
6
7
8
9
10

In [44]:
print(n)

11

In [47]:
i = 0 
while i < 10:
    print(i)
    if i == 4:
        break
    print("di bawah break")
    i += 1

print("di luar loop")

0
di bawah break
1
di bawah break
2
di bawah break
3
di bawah break
4
di luar loop

In [52]:
i = 0 
while i < 10:
    i += 1
    if i == 4:
        continue
    print(i)
    print("di bawah continue")

print("di luar loop")

1
di bawah continue
2
di bawah continue
3
di bawah continue
5
di bawah continue
6
di bawah continue
7
di bawah continue
8
di bawah continue
9
di bawah continue
10
di bawah continue
di luar loop

In [57]:
i = 0 
while i < 10:
    i += 1
    print(i)
else:
    print("loop selesai")
    
print("di luar loop")

1
2
3
4
5
6
7
8
9
10
loop selesai
di luar loop

In [60]:
i = 0 
while i < 10:
    print(i)
    if i == 4:
        break
    print("di bawah break")
    i += 1
else:
    print("loop selesai")

print("di luar loop")

0
di bawah break
1
di bawah break
2
di bawah break
3
di bawah break
4
di luar loop

In [62]:
a = ['a','b','c','d']
n = len(a)

i = 0

while i < 10:
    print(i)
    j = 0
    while j < n:
        print(a[j], end=" ")
        j+=1
    i+=1
    print()

0
a b c d
1
a b c d
2
a b c d
3
a b c d
4
a b c d
5
a b c d
6
a b c d
7
a b c d
8
a b c d
9
a b c d

In [63]:
n = 5
while n > 0: n-=1; print(n)

4
3
2
1
0

In [66]:
l = ['fa', 'fi', 'fu']
i = 0


for s in l:
    print('a' in s)

True
False
False

In [69]:
d = {'fa': 1, 'fi': 2, 'fu':3}

for k in d:
    print(k)

fa
fi
fu

In [70]:
d.items()

dict_items([('fa', 1), ('fi', 2), ('fu', 3)])

In [71]:
for k, v in d.items():
    print(k, "-", v)

fa - 1
fi - 2
fu - 3

In [73]:
coor = [(1,1,1),(2,1,3),(2,0,2)]

for x,y,z in coor:
    print(x, y, z)

1 1 1
2 1 3
2 0 2

In [82]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [85]:
# i = 0 
# while i < 10:
#     i += 1
#     if i == 4:
#         continue
#     print(i)
#     print("di bawah continue")

for i in range(0,10):
    if i == 4:
        continue
    print(i)
    print("di bawah break")

0
di bawah break
1
di bawah break
2
di bawah break
3
di bawah break
5
di bawah break
6
di bawah break
7
di bawah break
8
di bawah break
9
di bawah break

In [88]:
for i in range(0,10):
    if i == 4:
        break
    print(i)
    print("di bawah break")
else:
    print("Done.")

0
di bawah break
1
di bawah break
2
di bawah break
3
di bawah break